{% extends 'base.html' %}

{% block 'head' %} {% endblock %}
{% block 'title' %} Login Vendedor {% endblock %}

{% block 'body' %} 
<div class="container">
    <h1 class="pt-4">LOGIN VENDEDOR</h1>
    <div class="my-4 px-3">
        <form action="{% url 'login' %}" method="POST" name="">{% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" name="email"class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu e-mail">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="*********">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>  
    </div>
  
</div>

{% endblock %}